/* 'lg': '1024px', */
@media (min-width: 1024px) {
  .logo {
    height: 70%;
    margin-right: 40px;
  }

  .firstSection {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .img-wrapper img {
    width: 100%;
    height: 60vw;
  }
  .img-wrapper {
    width: 50%;
    height: 60vw;
  }

  .text-wrapper {
    /* justify-content: center; */
    /* align-items: center; */
    gap: auto;
    width: 50%;
    height: 60vw;
    
    
    padding: auto;
    /* font-size: 1rem; */
  }
  .text-wrapper h2 {
    font-size: 3rem;
    font-weight: 600;
  }
  .text-wrapper p {
    font-size: 1.4rem;
  }
  .PlayNow-btn{
    margin: 10px auto;
    padding: 14.5px 24.5px ;
  }
  
}
