/* 'lg': '1024px', */
@media (min-width: 1024px) {
  .logo {
    height: 70%;
    margin-right: 40px;
  }

  .firstSection {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .img-wrapper img {
    width: 100%;
    height: 60vw;
  }
  .img-wrapper {
    width: 50%;
    height: 60vw;
  }

  .text-wrapper {
    /* justify-content: center; */
    /* align-items: center; */
    gap: auto;
    width: 50%;
    height: 60vw;
    
    
    padding: auto;
    /* font-size: 1rem; */
  }
  .text-wrapper h2 {
    font-size: 3rem;
    font-weight: 600;
  }
  .text-wrapper p {
    font-size: 1.4rem;
  }
  .PlayNow-btn{
    margin: 10px auto;
    padding: 14.5px 24.5px ;
  }


  .footerLinkHeader {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    color:  #000000de;  
  }
  .footerLinksContainer{
    padding: 10px 10px;
    max-width: 225px;
  }
  .footerLinkHeader i{
    display: none;

  }
  .footerLinkHeader {
    margin-bottom: 40px;
  }
  
  .footerWrapper{
    display: flex;
    padding: 0 30px;
  }
  .linkContainer{
    height: auto;
  }
  footer li {
    display: block;
    font-size: 1rem;
    padding: 15px 0px;
    color: #00000094;
    transition: 0.3s ease;
  }
  footer>div{
    max-width: 1440px;
    margin-inline: auto;
  }
  hr{
    
    height: 2px;
    width: 95%;
    margin-inline: auto;
    
  }
  hr::before{
    content: "";
    display: block;
    border-top: 2px solid #e5e5e5;
  }
  .socialMediaHandles ul{
    display: flex;
    
    gap: 20px;
    margin-top: 25px;
    align-items: center;
    justify-content: start;
  }
  .socialMediaHandles{
    padding: 0px 30px;
  }
  .footerEnd{
  
    color: black !important;
  }
}

