/* 'xl': '1280px', */
@media (min-width: 1280px) {
  .firstSection {
    max-width: 1440px;
    margin: 20px auto;
  }
  .img-wrapper {
    width: 50%;
    height: 620px;
  }
  .img-wrapper img {
    width: 100%;
    height: 620px;
  }
  .text-wrapper {
    /* justify-content: center; */
    /* align-items: center; */
    gap: 25px;
    width: 50%;
    height: 620px;
    
    
    padding: auto;
    /* font-size: 1rem; */
    
  }
  .text-wrapper h2 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .4rem;
  }
  .text-wrapper p {
    font-size: 1.5rem;
  }
}
