@media (min-width: 425px) {
  .text-wrapper {
    gap: clac(25px+5px);

    padding: 17% 7%;
    /* font-size: 1rem; */
  }
  .text-wrapper h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .text-wrapper p {
    font-size: 1rem;
  }
  .PlayNow-btn {
    background: #ffffff00;
    
    padding: 7.25px 15px;
    font-size: 14px;
  }
  .socialMediaHandles ul{
    display: flex;
    gap: 20px;
    margin-top: 25px;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
  }
  footer svg{
    height: 35px !important;
    width: 35px !important;
    color: black;
  }
  .socialMediaHandles{
    padding: 0px 30px;
  }
  .footerEnd{
  
    color: black !important;
  }
}
