/* 'md': '768px', */
@media (min-width: 812px) {
  .hamburgerButton {
    display: none;
  }
  nav {
    justify-content: start;
  }
  .globalNavgation {
    display: flex;
    justify-content: start;
    flex-grow: 1;
  }
  .globalNavgation ul {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .globalNavgation ul a {
    font-weight: 700;
    padding: 0.5rem;
    color: rgb(27, 27, 27);
  }

  .globalNavgation-right {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
  }
  .location-btn {
    font-size: 15px;
    border: none;
    font-weight: 500;
    margin-right: 10px;
    transition: 0.02s;
    width: 7.5rem;
  }
  .location-btn:hover {
    color: #006241;
  }
  .location-btn svg {
    height: 20px !important;
  }

  .signIn-btn {
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s;
  }
  .signIn-btn:hover {
    background-color: rgba(201, 201, 201, 0.726);
  }
  .signIn-btn:active {
    transform: scale(1.1);
  }
  .joinNow-btn {
    font-weight: 700;
    color: white;

    background-color: rgb(0, 0, 0);
    padding-inline: 15px;
    font-size: 14px;
    transition: 0.2s;
  }
  .joinNow-btn:hover {
    background-color: rgba(0, 0, 0, 0.877);
    transform: scale(1.01);
  }
  .joinNow-btn:active {
    transform: scale(1.1);
  }

  .firstSection {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .firstSection:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .firstSection:nth-child(even) {
    flex-direction: row;
  }

  .img-wrapper {
    width: 50%;
    height: 50vw;
  }
  .img-wrapper img {
    width: 100%;
    height: 50vw;
  }

  .text-wrapper {
    /* justify-content: center; */
    /* align-items: center; */
    gap: auto;
    width: 50%;
    height: 50vw;
   
    
    padding: 10% 5%;
    /* font-size: 1rem; */
  }
  .text-wrapper h2 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .text-wrapper p {
    font-size: 1.3rem;
  }
  .PlayNow-btn {
    background: #ffffff00;
    padding: 5px 20px;
    
    border-radius: 30px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}
